@primary: #666666;
@text: #333333;

.tableCheckbox.sapMCb{
    padding:0;
    height:0;
    line-height:0;
    .sapMCbBg{
        top:0;    
    }
}

.dropdownToolbar.sapMIBar.sapMTB{
    padding: 0 1rem;
}
.unit-padding{
    padding: 1rem;
    box-sizing: border-box;
}
.no-overflow{
    overflow:visible;
    .sapMPanelContent{
        overflow:visible;
    }
    .sapUiRespGrid > div{
        overflow:visible !important; 
    }
}

.ui-state-highlight{
    td{
        border-top:1px dashed @primary;
        border-bottom:1px dashed @primary;
        padding:1rem;
        &:first-child{
            border-left:1px dashed @primary;
        }
        &:last-child{
            border-right:1px dashed @primary;
        }
    }
    
}
.sortable-table{
    thead{
        .sapMLnk{
            color:@text;
        }
    }
}

.panel-placeholder {
    border: 1px dashed  @primary;
    margin: 0 1em 1em 0;
    height: 200px;
}

.sb-panel.ui-sortable:empty{
    height:100px;
}

.sb-filter-bar{
    .sapMIBar{
        border-bottom:0;
    }
}
.app-title{
    font-size: 1.1rem;
    color:@text;
}

.sb-filter-bar{
    .sapMIBar{
        height:1rem;
    }
}
.sb-button-toolbar{
    border-bottom:0;
}
.sb-dialog{
    left:25% !important;
}
.sb-dialog-right{
    left:75% !important;
}
.order-table{
    .sapMLIBSelected{
        .order-change{
            padding: .2rem .5rem;
        }
    }
}
.fix-panel{
    //width: 47.9%;
    //width: -webkit-calc(50% - 4rem);
   //width: calc(50% - 4rem);
    position:fixed;
    height:95%;
    overflow-y:scroll;
}
.main-body{
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-corner,
     ::-webkit-scrollbar-thumb{
         display:none;
         background:#f2f2f2 !important;
     }
}
.settings-body{
    padding:1rem;
}
.sb-header{
    .sapMBarLeft{
        left:3rem;
    }
    .sapMBarRight{
        right:3rem;
    }
}
.order-details-popup{
    max-width: 1200px;
}
.sapMListBGTranslucent .sapMLIB[data-selected="true"] {
    background: #ffc65d;
    .row-selected;
}
.sapMListBGTranslucent .sapMLIB[data-type="ZUP"]{
    background: #ffff94;
    .row-selected;
}
.sapMListBGTranslucent .sapMLIB[data-postcode="true"]{
    background: #ff7373;
    .row-selected;
}
.row-selected{
    color:@text;
    span{
        color:inherit;
    }
    a{
        color: #00679e;
    }
    &.sapMLIBSelected {
        background: #e6f2f9;
    }
}
.sapMPopover .sapMPopoverCont{
        width:auto !important;
}